body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

.fa {
    font-size: 1.8em;
}

.drawio-container {
    border: 1.5px solid rgb(25, 26, 25);
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.drawio-container>.properties {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "propFile propHeader";
    background-color: #333;
}

.drawio-container>.properties>h2 {
    display: inline;
    grid-area: propHeader;
    justify-self: end;
    padding-right: 25px;
    font-size: 1.2em;
    cursor: pointer;
    color: rgb(207, 214, 205)
}

.drawio-container>.properties>h2>span {
    color: rgb(255, 0, 0);
}

.drawio-container>.properties>.propOptions {
    grid-area: propFile;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 2fr 10fr 9fr;
    align-self: center;
    padding-left: 10px;
    color: #aca2a2;
}

.drawio-container>.properties>.propOptions>.fa-file:hover {
    color: white;
    cursor: pointer;
}

#fontSizeInput, #showFontFamily, #widthInput {
    color: black;
}

.drawio-container>.properties>.propOptions>label {
    font-size: 1.2em;
    align-self: center;
}

.drawio-container>.properties>.propOptions>label:hover {
    color: white;
    cursor: pointer;
}

aside {
    background-color: red;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 18fr;
}

.mainContainer>.drawing-objects {
    background-color: #333;
    height: 100%;
    border: 1.5px solid rgb(214, 215, 213);
    border-radius: 2px;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 1fr;
    justify-content: center;
    align-items: center;
}

.mainContainer>.drawing-objects>.icon {
    font-size: 1.3em;
    color: #aca2a2
}

.mainContainer>.drawing-objects>.icon:hover {
    color: white;
    cursor: pointer;
}

.mainContainer>.canvas-container {
    background-color: rgba(155, 155, 155, 0.2);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        ". canvas .";
}

.canvasArrows {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "canvas"
        "arrows";
}

.mainContainer>.canvas-container>.textContainer>input {
    box-shadow: 3px 3px 3px rgb(64, 65, 68);
    margin: 15px;
    width: 70%;
    border: none;
    height: 50px;
    border-radius: 6px;
    background: #b3acac;
    padding: 0 15px;
    font-size: 1.3em;
}

.mainContainer>.canvas-container>.textContainer>button {
    display: inline;
    box-shadow: 2px 2px 2px rgb(45, 45, 47);
    border-radius: 2px;
    font-size: 1.2em;
    background: #b5b0b0;
    transition: all 0.7s;
}

.mainContainer>.canvas-container>.textContainer>.buttonNot {
    display: inline;
    box-shadow: 2px 2px 2px rgb(45, 45, 47);
    border-radius: 2px;
    font-size: 1.2em;
    background: #b5b0b0;
    transition: all 0.7s;
    display: none;
}

.mainContainer>.canvas-container>.textContainer>button:hover {
    background-color: rgb(143, 143, 154);
}

.mainContainer>.drawing-objects>.selected {
    color: white;
}

#my-canvas {
    background-color: white;
    grid-area: canvas;
}

.canvasArrows .arrowContainer {
    grid-area: arrows;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "leftArrow rightArrow";
}

.canvasArrows .arrowContainer>.fa-arrow-right {
    display: grid;
    justify-self: end;
    grid-area: rightArrow;
    transition: 1s all;
}

.canvasArrows .arrowContainer>.fa-arrow-left {
    display: grid;
    justify-self: start;
    grid-area: leftArrow;
    transition: 1s all;
}

.canvasArrows .arrowContainer>.fas:hover {
    cursor: pointer;
    background-color: rgb(99, 102, 102);
}

.hidden {
    display: none;
}

label {
    justify-self: center;
    font-size: 1.1em;
}

.loader {
    font-size: 2em;
}

.loader:hover {
    color: white;
    cursor: pointer;
}
